<!DOCTYPE html>
<html>
<head>
    <title>Python Game</title>
    <style>
      .top-right {
          position: absolute;
          right: 50px;
          top: 500px;
          width: 500px; /* 调整为您想要的宽度 */
      }
      /* 将整个body的文本居中 */
      body {
          text-align: center;
      }
      /* 设定标题样式 */
      h1 {
          margin-top: 50px; /* 顶部边距，可以根据需要调整 */
          font-size: 2.5em; /* 字体大小，可以根据需要调整 */
      }
  </style>
</head>
<body>
    <img src="{{ url_for('static', filename='cover.png') }}" class="top-right" alt="Cover Image">
    <h1>Admin Management</h1>
    <h1>Now Level：{{ level }}</h1>
    <p>{{ question_data.question }}</p>
    <form action="/answer" method="post">
        {% for option in question_data.options %}
        <input type="radio" id="{{ option }}" name="answer" value="{{ option }}">
        <label for="{{ option }}">{{ option }}</label><br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
    <a href="/logout">Logout</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
